:root {
    --black: rgb(15, 33, 61);
    --blue: rgb(49, 93, 159);
    --skyblue: rgb(211, 219, 235);
    --white: rgb(247, 245, 245);
    --green: rgb(89, 187, 93);
    --red: rgb(191, 63, 76);
    --yellow: rgb(205, 196, 100);
}