<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<link rel="stylesheet" href="../static/css/body.css">
<body>
    <link rel="stylesheet" href="../static/css/login.css">
    <div id="grady"></div>
    <div id="wrap_screen">
        <div id="wrap_login">
            <div id="login_left"></div>
            <div class="login_rigit">
                <form  id="form_signup">
                    <div id="welcome" class="loginform-item">환영합니다!</div>
                    <div id="loginwith" class="loginform-item">
                        <div id="login-google"></div>
                        <div id="login-naver"></div>
                    </div>
                    <div id="line_or" class="loginform-item">
                        <span>또는</span>
                    </div>
                    <div class="loginform-item">
                        <input id="user_id" class="input_login-text" placeholder=" ID">
                    </div>
                    <div class="loginform-item">
                        <input type="password" id="user_pw" class="input_login-text" placeholder=" Password">
                    </div>
                    <!--
                    <div class="loginform-item">
                        <input type="submit" id="login-submit" class="btn_sign-submit" value="로그인">
                    </div>
                    <div id="login-assist" class="loginform-item">
                        <div id="keep-login">
                            <input type="checkbox" id="checkbox_keep-login">
                            <label for="checkbox_keep-login">로그인 상태 유지</label>
                        </div>
                        <div id="account-assist">
                            <span id="href_signup" class="href_text-bold">회원가입</span>
                            |
                            <span id="href_forgotpw">비밀번호 찾기</span>
                    </div>
                -->
                </form>
                <div class="wrap_button-href">
                    <div class="loginform-item">
                        <button id="login-submit" class="btn_sign-submit">로그인</button>
                    </div>
                    <div id="login-assist" class="loginform-item">
                        <div id="keep-login">
                            <input type="checkbox" id="checkbox_keep-login">
                            <label for="checkbox_keep-login">로그인 상태 유지</label>
                        </div>
                        <div id="account-assist">
                            <span id="href_signup" class="href_text-bold" onclick="location.href='./signup.html';">회원가입</span>
                            |
                            <span id="href_forgotpw">비밀번호 찾기</span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
<script type="module" src="../static/js/controlcookie.js"></script>
<script type="module" src="../static/js/login.js"></script>

</html>